.databaseCard {
    width: fit-content;
    border: 2px solid white;
}

.databaseCard:hover {
    border: 2px solid #0054E9;
    cursor: pointer;
}

.databaseTitleCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.databaseLogo {
    width: 2.9rem;
    height: 2.9rem;
}

.title {
    margin: 0;
    padding-left: 1rem;
    font-size: 1.7rem;
    height: fit-content;
}