.fileViewerCard {
    width: 60rem;
    height: 40em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.fileViewerCardContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.selectFile {
    font-size: 16pt;
}