.fileViewerCard {
    width: 60rem;
    height: 40em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fileViewerTitleCard {
    font-size: 12pt;
}

.fileViewerSubtitleCard {
    font-size: 12pt;
}