.contentSettingsPage {}

.settingsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.saveBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}