.content-settings-page {}

.settings-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.save-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}